<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Salad Bar Arrangement</h1>
            <div class="game-canvas">
                <%= react_component('Root', name: 'John') %>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
